@import url('https://fonts.goolgeapis.com/css?family=Muli&display=swap');

:root {
  --blue:#09ACFE;
  --red: #CD086F;
  --white: #e0e0e0;
  --yellow:#FFD257;
  --background-1:#121212;
  --background-2:#000000;
}

*
{
  box-sizing: border-box;
}

body
{
  background: linear-gradient(135deg, var(--red), var(--blue));
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h3 {
  color: #fff;
  margin: 10px 0 20px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.container {
  width: 70vw;
}
.actionBox {
  display: flex;
  flex-wrap: wrap;
}

#textarea {
  border: none;
  display: block;
  flex: 3;
  height: 100px;
  font-family: inherit;
  border: 2px solid var(--yellow);
  border-radius: 20px;
  padding: 10px;
  margin: 0 0 20px;
  font-size: 16px;
}

button {
  flex: 1;
  height: 100px;
  margin-left: 10px;
  background: url(dice.png) center no-repeat;
  background-size: auto 80px;
  border-radius: 20px;
}
.shakeme::before {
  content: '';
  display: absolute;
  top: 0;
  background:rgb(251,120,51) ;
  height: 100px;
  width: 100px;
}
#tags {
  display: flex;
  flex-wrap: wrap;
}
.tag {
  background-color: #f0932b;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 14px;
}

.tag.highlight {
  background-color: #273c75;
}

@media (min-width: 640px) {
  .container {
    width: 500px;
  }

  .tag {
    background-color: #f0932b;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    display: inline-block;
  }
}

@-webkit-keyframes shakeme {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shakeme:hover {
-webkit-animation-name: shakeme;
-webkit-animation-duration: 0.8s;
-webkit-transform-origin:50% 50%;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
}
.shakeme {
display:inline-block
}