@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
:root {
    --blue:#09ACFE;
    --red: #CD086F;
    --white: #e0e0e0;
    --yellow:#FFD257;
    --background-1:#121212;
    --background-2:#000000;
}
html {
    font-size: 16px;
    color:var(--white);
    font-family: 'Montserrat', sans-serif;
}
* {
    box-sizing: border-box;
}
body{
    background-color: var(--background-2);
    font-family: 'Muli  ', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.btn {
    background-color: var(--red);
    border-radius: 0.5rem;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
}
.btn:focus{
    outline: none;
}
.btn:hover{
    opacity: 0.85;
}