@import url('https://fonts.goolgeapis.com/css?family=Muli&display=swap');

:root {
  --blue:#09ACFE;
  --red: #CD086F;
  --white: #e0e0e0;
  --yellow:#FFD257;
  --background-1:#121212;
  --background-2:#000000;

}

*
{
  box-sizing: border-box;
}

body
{
  background: linear-gradient(135deg, var(--red), var(--blue));
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h3 {
  color: #fff;
  margin: 10px 0 20px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.container {
  width: 500px;
}

#textarea {
  border: none;
  display: block;
  width: 100%;
  height: 100px;
  font-family: inherit;
  padding: 10px;
  margin: 0 0 20px;
  font-size: 16px;
}

.tag {
  background-color: #f0932b;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 14px;
  display: inline-block;
}

.tag.highlight {
  background-color: #273c75;
}