@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body{
  background-color: darksalmon;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

div {
  position: absolute;
  bottom: 2%;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 18px;
}

input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background: darksalmon;
  border: none;
  text-align: center;
  border-radius: 2px;
}

input:focus{
  outline: none;
}

#chosenText {
  width: 150px;
}

.showBtn {
  width: 100px;
  padding: 5px;
  font-size: 18px;
  background: rgb(233, 119, 82);
  border: none;
  text-align: center;
  border: 1px solid rgb(224, 87, 41);
  border-radius: 2px;
  cursor: pointer;
}

.showBtn:focus{
  outline: none;
}