@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
:root {
    --blue:#09ACFE;
    --red: #CD086F;
    --white: #e0e0e0;
    --yellow:#FFD257;
    --background-1:#121212;
    --background-2:#000000;
}
html {
    font-size: 10px;
    color:var(--white);
    font-family: 'Montserrat', sans-serif;
}
* {
    box-sizing: border-box;
}
body{
    font-family: 'Muli  ', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.bg {
    background: url(https://images.unsplash.com/photo-1456735190827-d1262f71b8a3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=100vw&h=100vh) no-repeat;
    position: absolute;
    top: -30px;
    left: -30px;
    width: Calc(100vw + 60px);
    height: Calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}
.loading-text {
    font-size: 5rem;
    color: #fff;
}